* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #E5E5E5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.container__dashboard {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  background-color: #E5E5E5;
}

.course__div {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  background-color: #E5E5E5;
}

.container__challanges {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
}

.dashboard__body {
  background-color: #E5E5E5;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dash__menu-title {
  font-family: sans-serif;
  font-style: bold;
  font-size: 14px;
  margin-top: 60px;
  margin-bottom: 29px;
}

.sidebar {
  width: 20%;
}

.sidebar__setting {
  font-family: sans-serif;
  font-style: bold;
  font-size: 14px;
  margin-top: 29px;
  margin-bottom: 29px;
}

.menus {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  font-family: sans-serif;
  gap: 19px;
  width: 223px;
  height: 54px;
  color: #a4adc8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 8px;
}

a {
  text-decoration: none;
}

.menus:hover {
  background-color: #2f3ced;
  border-radius: 5px;
  padding-left: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
}

.menus:hover svg path {
  fill: #fff;
}

.card {
  width: 487px;
  height: 750px;
  margin: 10% auto;
  left: 446px;
  top: 131px;
  background: #ffffff;
}

.card__form {
  border-radius: 4px;
}

.card.google {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.check-and-forgot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  margin-top: 30px;
}

.check-and-forgot .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  cursor: pointer;
}

.check-and-forgot .check p {
  font-family: sans-serif;
  font-size: 14px;
  color: #657297;
  cursor: pointer;
}

.check-and-forgot .forgot p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #5A7180;
  cursor: pointer;
}

.form {
  text-align: center;
}

.form__input {
  position: relative;
  padding: 0 10px;
  width: 448px;
  height: 60px;
  border: 1px solid #d4d2d2;
  outline: none;
  border-radius: 4px;
}

.form__input ::-webkit-input-placeholder {
  top: calc(50% - 26px/2 + 15.5px);
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #99A2BC;
}

.form__input :-ms-input-placeholder {
  top: calc(50% - 26px/2 + 15.5px);
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #99A2BC;
}

.form__input ::-ms-input-placeholder {
  top: calc(50% - 26px/2 + 15.5px);
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #99A2BC;
}

.form__input ::placeholder {
  top: calc(50% - 26px/2 + 15.5px);
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #99A2BC;
}

.form__text {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #0F1B41;
  margin: 10px;
}

.form__title {
  text-align: center;
  margin-top: 20px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #5A7180;
  cursor: pointer;
}

.form__title span {
  color: #2f3ced;
}

.modal__img {
  text-align: center;
}

.el_center {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.signIn {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  text-align: left;
  color: #0F1B41;
}

.signInBottom {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
  color: #5A7180;
}

.signInBtn {
  background: #2F3CED;
  border-radius: 4px;
  width: 448px;
  height: 54px;
  color: #fff;
  border: none;
}

.signInDiv {
  text-align: center;
  margin-top: 20px;
}

.glaza {
  position: absolute;
  left: 63%;
  top: 95%;
}

.section {
  width: 80%;
  padding: 0 15px;
}

.section__title {
  margin-top: 14px;
  font-size: 18px;
  color: #0F1B41;
  font-family: sans-serif;
}

.section__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section__header-menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.section__header .btn__menu {
  display: none;
}

.section__inter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.section__inter-view {
  color: #2F3CED;
  cursor: pointer;
}

.section__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 31px;
  margin-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section__card {
  width: 342px;
  height: 200px;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  padding: 15px 20px;
}

.section__card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section__card-top p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
  color: #FF6868;
  background-color: #FFF0F0;
  padding: 5px;
  border-radius: 3px;
}

.section .text__bold {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 24px;
  color: #0F1B41;
  margin-top: 14px;
}

.section .card__grey {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: #5A7180;
  margin-top: 9px;
}

.section .section__card-uiux {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
  color: #ffa82b;
  background-color: #FFF9F0;
  padding: 5px;
  border-radius: 3px;
}

.section .section__card-backend {
  color: #525CE5;
  background-color: #EEEFFC;
}

.section .section__search {
  background: transparent;
  border: none;
  cursor: pointer;
}

.section .section__search-input {
  padding: 25px 10px;
  border: none;
  border-radius: 6px;
  width: 472px;
  height: 50px;
  padding-left: 10px;
  font-size: 20px;
  outline: none;
  display: none;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.banner {
  margin-top: 60px;
  margin-bottom: 80px;
}

.banner__img {
  width: 896px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.active {
  background-color: #080f63;
  border-radius: 5px;
  padding-left: 10px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  color: #fff;
}

.profile {
  display: none;
  background-color: #fff;
  text-align: center;
  position: absolute;
  left: 40%;
  top: 10%;
  border: solid 0.1px #2F3CED;
  width: 334px;
  height: 524px;
  border-radius: 4px;
  z-index: 555;
}

.profile .user-name {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  color: #0F1B41;
}

.profile .user-address {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: #5A7180;
}

.profile .user__trophy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 21px;
  margin-top: 16px;
}

.profile .user__trophy p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  color: #0F1B41;
}

.profile__btn {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  background: #2F3CED;
  border: none;
  margin-top: 24px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.showProfile {
  display: block;
}

.article {
  width: 80%;
}

.article .section__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article .section__search {
  background: transparent;
  border: none;
  cursor: pointer;
}

.article .section__search-input {
  padding: 25px 10px;
  border: none;
  border-radius: 6px;
  width: 472px;
  height: 50px;
  padding-left: 10px;
  font-size: 20px;
  outline: none;
  display: none;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.article .section__title {
  margin-top: 14px;
  font-size: 18px;
  color: #0F1B41;
  font-family: sans-serif;
}

.article__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  margin-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article__cards-card {
  padding: 14px;
  min-width: 290px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 20px 80px rgba(189, 192, 253, 0.227355);
          box-shadow: 0px 20px 80px rgba(189, 192, 253, 0.227355);
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-flex: 00;
      -ms-flex: 00 0 25%;
          flex: 00 0 25%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article__cards-card .card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article__cards-card .card__course-name {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  color: #0F1B41;
  margin-top: 10px;
}

.article__cards-card .card__course-details {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: #5A7180;
  margin-top: 22px;
}

.article__cards-card .range {
  width: 270px;
  margin-top: 22px;
}

.article__cards-card .card__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article__cards-card .card__user p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  color: #0F1B41;
}

.article .cards__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 61px;
}

.article .cards__details .details__title {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.3px;
  color: #17307A;
}

.article .cards__details .details__title span {
  font-weight: 700;
}

.article .cards__details .details__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.article .cards__details .details__btns button {
  border: none;
  cursor: pointer;
}

.btnForColumn {
  width: 42px;
  height: 42px;
  font-size: 25px;
}

.btnForGrid {
  width: 42px;
  height: 42px;
  font-size: 25px;
}

.btnForGrid:hover, .btnForColumn:hover {
  background-color: #2F3CED;
  -webkit-transition: all 1s;
  transition: all 1s;
  border-radius: 4px;
}

.btnForGrid:hover i, .btnForColumn:hover i {
  color: #fff;
}

.showColumnAllCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.showColumnCard {
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.showColumnCard .card__course-details {
  margin: 0;
}

.showColumnCard .card__course-name {
  margin: 0;
}

.showColumnCard .card__title {
  gap: 19px;
}

.showRange {
  display: block;
}

.challanges {
  width: 80%;
}

.challanges .section__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.challanges .section__search {
  background: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: all 3s;
  transition: all 3s;
}

.challanges .section__search-input {
  padding: 25px 10px;
  border: none;
  border-radius: 6px;
  width: 472px;
  height: 50px;
  padding-left: 10px;
  font-size: 20px;
  outline: none;
  display: none;
}

.challanges .challangeLeftAndBrief {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 74px;
  gap: 24px;
}

.challanges .challangeLeftAndBrief .time {
  width: 659px;
  height: 45px;
  background-color: #2F3CED;
  border-radius: 6.045px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.challanges .challangeLeftAndBrief .time .time__text {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
}

.challanges .challangeLeftAndBrief .time .time__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-reflect: below 4px linear-gradient(transparent, #0004);
}

.challanges .challangeLeftAndBrief .time .time__number .hour, .challanges .challangeLeftAndBrief .time .time__number .minutes, .challanges .challangeLeftAndBrief .time .time__number .seconds {
  width: 30px;
  height: 32px;
  background-color: #fff;
  border-radius: 6.045px;
  padding: 5px;
  font-family: sans-serif;
  color: #2F3CED;
  font-weight: 600;
  margin: 0 10px;
}

.challanges .challangeLeftAndBrief .time .time__number .dubleDot {
  color: #fff;
}

.challanges .challangeLeftAndBrief .challange__codes {
  position: relative;
  margin-top: 28px;
}

.challanges .challangeLeftAndBrief .challanges__bot {
  background-image: url(./img/background-content.png);
  background-repeat: no-repeat;
  position: absolute;
  margin: 0;
  left: 0;
  width: 100%;
  top: 22px;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.challanges .challangeLeftAndBrief .brief {
  position: relative;
  padding: 22px;
  width: 406px;
  height: 530px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.challanges .challangeLeftAndBrief .brief__title {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 24px;
  color: #0F1B41;
  margin-bottom: 21px;
}

.challanges .challangeLeftAndBrief .brief hr {
  margin-bottom: 16px;
}

.challanges .challangeLeftAndBrief .brief__intro {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  color: #0F1B41;
}

.challanges .challangeLeftAndBrief .brief__parag {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: #5A7180;
  margin-top: 6px;
  margin-bottom: 10px;
}

.challanges .challangeLeftAndBrief .brief .instruction {
  width: 406px;
  height: 40px;
  background-color: #FAFAFF;
  position: absolute;
  left: 0px;
}

.challanges .challangeLeftAndBrief .brief .instruction .intro__title {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 24px;
  padding: 8px 20px;
  color: #0F1B41;
}

.challanges .challangeLeftAndBrief .brief .intro__parag {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: #5A7180;
  margin-top: 70px;
}

.challanges .challangeLeftAndBrief .brief__img {
  margin-left: -22px;
  margin-top: 84px;
}

.tran {
  -webkit-transition: all 3s;
  transition: all 3s;
}

@media (max-width: 500px) {
  .section__header .btn__menu {
    display: block;
  }
  .section__title {
    display: none;
  }
  .section__search-input {
    display: none;
  }
  .section__search {
    display: none;
  }
  .banner {
    display: none;
  }
  .all-menus {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .logo {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */