* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E5E5E5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.container__dashboard{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    background-color: #E5E5E5;
}

.course__div{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #E5E5E5;
}

.container__challanges{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between; 
    box-sizing: border-box;
    padding: 20px;
}

.dashboard__body{
    background-color: #E5E5E5;
}
.dashboard{
    display: flex;
}
.dash__menu-title{
    font-family: sans-serif;
    font-style: bold;
    font-size: 14px;
    margin-top: 60px;
    margin-bottom: 29px;
}
.sidebar{
    width: 20%;
}
.sidebar__setting{
    font-family: sans-serif;
    font-style: bold;
    font-size: 14px; 
    margin-top: 29px;
    margin-bottom: 29px;
}
.menus{
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 13px;
    font-family: sans-serif;
    gap: 19px;
    width: 223px;
    height: 54px;
    color: rgba(164, 173, 200, 1);
    transition: all 0.3s;
    margin-bottom: 8px;
}

a{
    text-decoration: none;
}
.menus:hover{
    background-color: rgba(47, 60, 237, 1);
    border-radius: 5px;
    padding-left: 10px;
    transition: all 0.5s;
    color: #fff;
svg{
    path{
        fill: #fff;
    }
}
}
.card {
    width: 487px;
    height: 750px;
    margin: 10% auto;
    left: 446px;
    top: 131px;
    background: #ffffff;
    &__form {
        border-radius: 4px;
    }
    &.google{
        display: flex;
        justify-content: center;
    }
}

.check-and-forgot{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 30px;
    
    .check{
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        p{
            font-family: sans-serif;
            font-size: 14px;
            color: #657297;
            cursor: pointer;
        }
    }
    .forgot{
        p{
            font-family: sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 26px;
            color: #5A7180;
            cursor: pointer;
        }
    }
}

.form{
    text-align: center;
    &__input{
        position: relative;
        padding: 0 10px;
        width: 448px;
        height: 60px;
        border: 1px solid rgb(212, 210, 210);
        outline: none;
        border-radius: 4px;
        ::placeholder{
            top: calc(50% - 26px/2 + 15.5px);
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 26px;
            color: #99A2BC;
        }
    }
    &__text{
        font-family: sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #0F1B41;
        margin: 10px;
    }
    &__title{
        text-align: center ;
        margin-top: 20px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        color: #5A7180;
        cursor: pointer;

        span{
           color: rgba(47, 60, 237, 1);
        }
    }
}

.modal__img{
    text-align: center;
}

.el_center {
    margin: auto;
    display: flex;
}

.signIn{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    text-align: left;
    color: #0F1B41;
}
.signInBottom{
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-align: left;
    color: #5A7180;     
}

.signInBtn{
    background: #2F3CED;
    border-radius: 4px;
    width: 448px;
    height: 54px;
    color: #fff;
    border: none;
}

.signInDiv{
    text-align: center;
    margin-top: 20px;
}

.glaza {
    position: absolute;
    left: 63%;
    top: 95%;
}   

.section{
    width: 80%;
    padding: 0 15px;
    &__title{
        margin-top: 14px;
        font-size: 18px;
        color: #0F1B41;
        font-family: sans-serif;
    }
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-menus{
            display: flex;
            align-items: center;
            gap: 30px;
        }
        .btn__menu{
            display: none;
        }
    }

    &__inter{
        display: flex;
        justify-content: space-between;
        font-family: sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;

        &-view{
            color: #2F3CED;
            cursor: pointer;
        }
    }
    &__cards{
        display: flex;
        gap: 31px;
        margin-top: 20px;
        flex-wrap: wrap;
    }
    &__card{
        width: 342px;
        height: 200px;
        background-color: #fff;
        border-radius: 4px;
        cursor: pointer;
        padding: 15px 20px;
    }
    &__card-top{
        display: flex;
        align-items: center;
        justify-content: space-between;

        p{
            font-family: sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 14px;
            text-align: center;
            color: #FF6868;
            background-color: #FFF0F0;
            padding: 5px;
            border-radius: 3px;
        }
    }
    
    .text__bold{
        font-family: sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 24px;
        color: #0F1B41;
        margin-top: 14px;
    }
    .card__grey{
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 24px;
        color: #5A7180;
        margin-top: 9px;
    }
    .section__card-uiux{
        font-family: sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 14px;
        text-align: center;
        color: rgba(255, 168, 43, 1);
        background-color: #FFF9F0;
        padding: 5px;
        border-radius: 3px;
    }
    .section__card-backend{
        color: #525CE5;
        background-color: #EEEFFC;
    }
    .section__search{
        background: transparent;
        border: none;
        cursor: pointer;
        &-input{
            padding: 25px 10px;
            border: none;
            border-radius: 6px;
            width: 472px;
            height: 50px;
            padding-left: 10px;
            font-size: 20px;
            outline: none;
            display: none;
            transition: 1s ease;
        }
    }
}
.banner{
    margin-top: 60px;
    margin-bottom: 80px;
    // overflow: hidden;
    &__img{
        width: 896px;
    }
}

.show{
    display: block;
}

.hide{
    display: none;
}

.active{
    background-color: rgb(8, 15, 99);
    border-radius: 5px;
    padding-left: 10px;
    transition: 0.5s ease;
    color: #fff;
}
.profile{   
    display: none;
    background-color: #fff;
    text-align: center;
    position: absolute;
    left: 40%;
    top: 10%;
    border: solid 0.1px #2F3CED;
    width: 334px;
    height: 524px;
    border-radius: 4px;
    z-index: 555;
    .user-name{
        font-family: sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 24px;
        color: #0F1B41;
    }
    .user-address{
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 24px;
        color: #5A7180;
    }
    .user__trophy{
        display: flex;
        justify-content: space-between;
        padding: 0 21px;
        margin-top: 16px;

        p{
            font-family: sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 24px;
            color: #0F1B41;
        }
    }
    &__btn{
        width: 264px;
        height: 40px;
        border-radius: 4px;
        background: #2F3CED;
        border: none;
        margin-top: 24px;
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 26px;
        text-align: center;
        color: #FFFFFF;
    }
}

.showProfile{
    display: block;
}

//ARTICLE START

.article{
    width: 80%;

    .section__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .section__search{
        background: transparent;
        border: none;
        cursor: pointer;
    
        &-input{
            padding: 25px 10px;
            border: none;
            border-radius: 6px;
            width: 472px;
            height: 50px;
            padding-left: 10px;
            font-size: 20px;
            outline: none;
            display: none;
            transition: 1s ease;
        }
    }

    .section__title{
        margin-top: 14px;
        font-size: 18px;
        color: #0F1B41;
        font-family: sans-serif;
    }
    &__cards{
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin-top: 30px;
        justify-content: space-between;

        &-card{
            padding: 14px;
            min-width: 290px;
            background: #FFFFFF;
            box-shadow: 0px 20px 80px rgba(189, 192, 253, 0.227355);
            border-radius: 4px;
            cursor: pointer;
            flex: 00 0 25%;
            justify-content: space-between;

            .card__title{
                display: flex;
                justify-content: space-between;
            }
            .card__course-name{
                font-family: sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 24px;
                color: #0F1B41;
                margin-top: 10px;
            }
            .card__course-details{
                font-family: sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 24px;
                color: #5A7180;
                margin-top: 22px;
            }
            .range{
                width: 270px;
                margin-top: 22px;
            }
            .card__user{
                display: flex;
                gap: 10px;
                align-items: center;

                p{
                    font-family: sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 24px;
                    color: #0F1B41;
                }
            }
        }
    }
    .cards__details{
        display: flex;
        justify-content: space-between;
        margin-top: 61px;

        .details__title{
            font-family: sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.3px;
            color: #17307A;

            span{
                font-weight: 700;
            }
        }
        .details__btns{
            display: flex;
            align-items: center;
            gap: 10px;
            button{
                border: none;
                cursor: pointer;
            }
        }
    }
}

.btnForColumn{
    width: 42px;
    height: 42px;
    font-size: 25px;
}
.btnForGrid{
    width: 42px;
    height: 42px;
    font-size: 25px;
}

.btnForGrid:hover, .btnForColumn:hover{
    background-color: #2F3CED;
    transition: all 1s;
    border-radius: 4px;
    i{
        color: #fff;
    }
}

.showColumnAllCards{
    display: flex;
    flex-direction: column;
}
.showColumnCard{
    // width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;

    .card__course-details{
        margin: 0;
    }
    .card__course-name{
        margin: 0;
    }
    .card__title{
        gap: 19px;
    }
}

.showRange{
    display: block;
}

//ARTICLE END

//CHALLANGES START

.challanges{
    width: 80%;

    .section__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .section__search{
        background: transparent;
        border: none;
        cursor: pointer;
        transition: all 3s;

        &-input{
            padding: 25px 10px;
            border: none;
            border-radius: 6px;
            width: 472px;
            height: 50px;
            padding-left: 10px;
            font-size: 20px;
            outline: none;
            display: none;
        }
    }
    .challangeLeftAndBrief{
        display: flex;
        margin-top: 74px;
        gap: 24px;

        .time{
            width: 659px;
            height: 45px;
            background-color: #2F3CED;        
            border-radius: 6.045px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;


            .time__text{
                font-family: sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 30px;
                color: #FFFFFF;
            }

            .time__number{
                display: flex;
                -webkit-box-reflect: below 4px linear-gradient(transparent, #0004);

                .hour, .minutes, .seconds{
                    width: 30px;
                    height: 32px;
                    background-color: #fff;
                    border-radius: 6.045px;
                    padding: 5px;
                    font-family: sans-serif;
                    color: #2F3CED;
                    font-weight: 600;
                    margin: 0 10px;
                }

                .dubleDot{
                    color: #fff;
                }
            }
        }

        .challange__codes{
            position: relative;
            margin-top: 28px;
        }

        .challanges__bot{
            background-image: url(./img/background-content.png);
            background-repeat: no-repeat;
            position: absolute;
            margin: 0;
            left: 0;
            width: 100%;
            top: 22px;
            height: 100vh;
            object-fit: cover;
        }

        .brief{
            position: relative;
            padding: 22px;
            width: 406px;
            height: 530px;
            background-color: #FFFFFF;
            border-radius: 4px;
            &__title{
                font-family: sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 13px;
                line-height: 24px;
                color: #0F1B41;
                margin-bottom: 21px;
            }
            hr{
                margin-bottom: 16px;
            }
            &__intro{
                font-family: sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 24px;
                color: #0F1B41;
            }
            &__parag{
                font-family: sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 24px;
                color: #5A7180;
                margin-top: 6px;
                margin-bottom: 10px;
            }

            .instruction{
                width: 406px;
                height: 40px;
                background-color: #FAFAFF;  
                position: absolute;
                left: 0px;

                .intro__title{
                    font-family: sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 24px;
                    padding: 8px 20px; 
                    color: #0F1B41;
                }
            }
            .intro__parag{
                font-family: sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 24px;
                color: #5A7180;
                margin-top: 70px;
            }

            &__img{
                margin-left: -22px;
                margin-top: 84px;
            }
        }
    }
}

.tran{
    transition: all 3s;
}


@media (max-width: 500px) {
    .section__header{
        .btn__menu{
            display: block;
        }
    }
    .section__title{
        display: none;
    }
    .section__search-input{
        display: none;
    }
    .section__search{
        display: none;
    }
    .banner{
        display: none;
    }
    .all-menus{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .logo{
        display: block ;
    }
}